div.teacherDataBox
   div.teacherDataHead
      span.teacherData_name Aimy
      span.homePage_teachingAge 8年教龄
   div.teacherDataMain
      div.teacherData_allPastBox
         div.teacher_allPast_head 过往经历
         div.teacher_allPast_Content
            div.teacher_allPast_item
               div.past_date 2015年3月 至 2015年2月
               div.past_item_content 本人毕业于华南师范大学英语教育专业，在大学期间获得本人毕业于华南师范大学英语教育专业，在大学华南师范大学英语教育专业...
      div.teacherData_allPastBox
         div.teacher_allPast_head 教学成果
         div.teacher_allPast_Content
            div.teacher_allPast_item
               div.past_date 2015年3月 至 2015年2月
               div.past_item_content 本人毕业于华南师范大学英语教育专业，在大学期间获得本人毕业于华南师范大学英语教育专业，在在大学期间获得本人毕业于华南师范大学英语教育大学华南师范大学英语教育专业...


