div(id=Lp[ccc].href).tab-pane.active.fade.in
    div.homepage_allOnLineLesson
        div.homePage_onlineLessonItem
            img.img-responsive(src="img/teacherHomePage/allLesson/allLessonItemImg1.png")
            h4.homePage_onlineLessonItem_title  15年八天英语春季班报名火热进行中...
            div
                p.content_p
                    span.span_name 课程时长：
                    span.span_content 6小时
                p.content_p
                    span.span_name 开课时间：
                    span.span_content 2015.03.25
                p.content_p
                    span.span_name 上课方式：
                    span.span_content 在线授课
            div.pt10
                button.btn.btn-warning.reg_btn 还剩15个名额   立即报名
                span.h3.price_span ￥3100
        div.homePage_onlineLessonItem
            img.img-responsive(src="img/teacherHomePage/allLesson/allLessonItemImg2.png")
            h4.homePage_onlineLessonItem_title  15年八天英语春季班报名火热进行中...
            div
                p.content_p
                    span.span_name 课程时长：
                    span.span_content 6小时
                p.content_p
                    span.span_name 开课时间：
                    span.span_content 2015.03.25
                p.content_p
                    span.span_name 上课方式：
                    span.span_content 在线授课
            div.pt10
                button.btn.btn-warning.reg_btn 还剩15个名额   立即报名
                span.h3.price_span ￥3100
        div.homePage_onlineLessonItem.last
            img.img-responsive(src="img/teacherHomePage/allLesson/allLessonItemImg3.png")
            h4.homePage_onlineLessonItem_title  15年八天英语春季班报名火热进行中...
            div
                p.content_p
                    span.span_name 课程时长：
                    span.span_content 6小时
                p.content_p
                    span.span_name 开课时间：
                    span.span_content 2015.03.25
                p.content_p
                    span.span_name 上课方式：
                    span.span_content 在线授课
            div.pt10
                button.btn.reg_btn.reg_over.disabled 已完成
                span.h3.price_span ￥3100
